* {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
}

body {
  background-color: #f7f7f7;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
.container-fluid.main-screen {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.main-screen {
  max-width: 1500px;
  min-width: 576px;
  margin: 0 auto;
  /* Center align the container */
  width: 100%;
  /* Take up the full available width */
  box-sizing: border-box;
  /* Include padding and border in the width */
}

.header-navbar {
  width: 100%;
  padding: 0;
  position: relative;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #193547;
}

.custom-navbar-content {
  font-weight: 900;
  margin-left: 5%;
}

.custom-navbar-content li {
  margin-right: 4%;
}

@media (min-width: 992px) and (max-width: 2000px) {
  .custom-navbar-content {
    margin-right: 9%;
  }
}

.navbar-toggler {
  background-color: #f7547f;
}

.navbar-logo {
  margin-left: 5%;
}

.header-overlay {
  position: absolute;
  right: 0;
  top: 0;
  height: 530%;
  width: 23.5%;
}

.header-overlay img {
  height: 100%;
  width: 100%;
}

.banner {
  position: relative;
  padding: 0;
  /* border: 1px solid red;  */
  
}

.banner-container {
  padding: 0;
  margin: 0;
}

.banner-image {
  text-align: end;
}

.banner-image img {
  width: 80%;
  margin-top: 10%;
  margin-right: 7%;
  margin-bottom: 25%;
}

.banner-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.banner-overlay img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20%;
  height: 80%;
}

.think,
.creative,
.turn,
.ideas,
.banner-text-container .learn-more-button {
  color: #112e41;
  text-align: center;
  margin-left: 9%;
  line-height: 1;
}

.think {
  font-size: 94px;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  margin-top: 12%;
}

.creative,
.turn {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 60px;
}

.ideas {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 60px;
}

.banner-text-container .learn-more-button {
  margin-top: 8%;
}
.banner-text-container .learn-more-button button
{
  padding: 3% 8%;

}
.learn-more-button button {
  font-size: large;
  background-color: #f7547f;
  border: 0;
}
.learn-more-button button:hover
{
  background-color: #ce456a;
  
}

.greater-than-sign {
  margin-left: 10px;
}

@media (max-width: 992px) {
  .navbar-logo {
    margin-left: 0%;
  }

  .header-overlay {
    display: none;
  }

  .banner-overlay {
    display: none;
  }

  body {
    background-color: #f0eed4;
  }

  .think,
  .creative,
  .turn,
  .ideas {
    margin-left: 0%;
    text-align: center;
  }

  .think {
    font-size: 40px;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
    margin-top: 0%;
  }

  .creative,
  .turn {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 25px;
  }

  .ideas {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 23px;
    margin-top: 2%;
  }
  .banner-text-container .learn-more-button
  {
    margin-left: 0%;
    margin-top: 5%;

  }

  /* .banner-text-container .learn-more-button {
    text-align: center;
    padding: 0px 0px;
  } */
  
  .banner-text-container .learn-more-button button {
    font-size: large;
    padding: 2% 7%;
    background-color: #f7547f;
  }

  .learn-more-button i {
    font-size: 20px;
  }

  .banner-image {
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .banner-image img {
    width: 50%;
    height: 90%;
    margin-top: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
  }

  .creative {
    text-align: end;
  }

  .turn {
    text-align: justify;
  }

  .next-to-creative {
    margin-left: 3%;
  }
  .feature-card.middle-card,.feature-card.bottom-card
  {
    /* border: 1px solid yellowgreen; */
    margin-top: 10%;
  }
  .banner{
    padding-top: 8%;
    padding-bottom: 8%;
  }


  .feature-card p
  {
    /* border: 1px solid red; */
    padding: 2%;
  }
  .feature-card.top-card,.feature-card.middle-card,.feature-card.bottom-card{
    
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    height: auto;
  
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* border-radius: 200px; */
    
    /* margin-top: 50%;
    margin-bottom: 50%; */
  
  }
}

@media (min-width: 992px) and (max-width: 1150px) {
  .think {
    font-size: 80px;
  }

  .creative,
  .turn {
    font-size: 50px;
  }

  .ideas {
    font-size: 50px;
  }
  
}

@media (992px<=width<=1020px) {
  /* .feature-card .card-heading 
  {
    border: 1px solid yellowgreen;
    color: red;
  } */
  .feature-card
  {
    /* border: 1px solid red; */
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }
  .feature-card.top-card .card-heading
  {
    font-size: 28px;
  }
  
}

.our-features-heading {
  /* border: 1px solid black; */
  position: relative;
  padding-top: 8%;
  padding-bottom: 3%;
  background-color: #ffffffff;
  text-align: center;
  
}

.pink-heading
{
  color: #F7588B;
  font-size: 14px;
  font-weight: 900;
}

.blue-sub-heading
{
  color: #112E41;
  font-family: 'Anton', sans-serif;
  font-size: 32px;
}


.our-features-cards {
  background: #162b45;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 5%;
  padding-right: 5%;
  /* border: 10px solid hotpink; */
}
.circle-img {
  background-color: #586779;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.circle-img i {
  font-size: 30px;
  color: #eff1f2;
}

.feature-card{
  /* border: 1px solid yellowgreen; */
  background-color: #2e4158;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  
  /* margin-top: 50%;
  margin-bottom: 50%; */

}


.feature-card .card-heading {
  color: #eff1f2;
  font-size: 30px;
  font-family: "Oswald", sans-serif;
}
.feature-card .card-text {
  color: #677982;
}
.about-our-company
{
  position: relative;
  height: auto;
  /* border: 10px solid yellowgreen; */
  padding: 0;
  background-color: #ffffffff;
}
.about-our-company .about-our-company-image
{
  /* border: 10px solid dimgray; */
  /* margin-left:1/; */
  width: 100%;

}
.about-our-company-text
{
  /* border: 1px solid rebeccapurple; */
  margin-left: -10%;
  padding-right: 25%;
  margin-top: 45%;
}
.about-our-company-text .about-our-company-body-1
{
  /* border: 1px solid red; */
  padding-right: 28%;
}
.about-our-company-text .about-our-company-body-2
{
  font-size: 14px;
  /* border: 1px solid red; */
  padding-right: 24%;
}
.about-our-company-subheading
{
  font-size: 28px;
  /* color: red; */
  
}
.about-our-company-body-1
{
  color: #203341;
  font-size: 18px;
  /* border: 1px solid black; */
  font-family: "Oswald", sans-serif;
}
.about-our-company-body-2
{
  color: #6E6765;
  font-size: 16px;

}
.about-our-company-images
{
  position: relative;

}
.about-our-company-image
{
  position: relative;
  margin-top: 30%;
  
}
.about-our-company-overlay-image
{
  /* border: 1px solid black; */
  position: absolute;
  top: 0;
  left:33%;
  text-align: end;
  margin-top: 20%;
}
.about-our-company-overlay-image img
{
  width: 90%;
  /* position: absolute;
  right: 0; */
}
.about-our-company-overlay-text
{
  font-family: "Oswald", sans-serif;
  position: absolute;
  color: #112E41;
  bottom: 5%;
  font-size: 32px;
  font-weight: 900;
  /* border: 1px solid red; */
  width: 30%;
  left: 50%;
  
}
.about-our-company-container
{
  /* border: 10px saddlebrown solid; */
  padding: 0;
  margin: 0;
}
.about-our-company button{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.about-our-company-images
{
  /* border: 10px solid red; */
  padding-bottom: 10%;
  
}

.recent-work
{
background-color: white;
text-align: center;
}



@media (max-width:992px) {
  body
  {
    overflow-x: hidden;
  }
  .about-our-company-overlay-image
  {
    display: none;
  }
  .about-our-company
  {
    background-color: #ffffffff;
    width: 100%;
  }
  .about-our-company-text
  {
    margin-top: 0;
    margin-left: 0;
  }
  .about-our-company-image{
    width: 100%;
    /* border: 1px solid red; */
    text-align: center;
    height: 90vh;
    margin-top: 10%;
    margin-bottom: 10px;
  }
  .about-our-company-image img{
    width: 95%;
    /* border: 1px solid red; */
    /* text-align: center; */
    height: 100%;
    
  }
  .about-our-company-text,.about-our-company-text .about-our-company-body-1,.about-our-company-text .about-our-company-body-2
  {
    padding-right: 0;
  }
  .about-our-company
  {
    padding-bottom: 10%;
  }
  .about-our-company-overlay-text
  {
    color: white;
    width: 250px;
    text-align: start;
    left: 3%;
    bottom: 0;
    /* border: 1px solid red; */

  }
}

.mockup-design
{
  background-color: #ffffffff;
  overflow-x: hidden;
  padding-top: 5%;
}
.top-heading-blog {
  color: #f75582;
  font-size: 14px;
  font-family: "Oswald", sans-serif;
  font-weight: bolder;
}
.sub-heading-blog {
  color: #112e41;
  font-size: 24px;
  font-family: "Oswald", sans-serif;
  font-weight: bolder;
}
.text-blog {
  color: #6b727e;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
}

.button-blog a {
  text-decoration: none;
  color: #123044;
  /* font-family:Helvetica, sans-serif; */
  font-family: "Oswald", sans-serif;
  font-size: 16px;
}

.button-blog i {
  font-size: medium;
}
.mockup-design img {
  width: 100%;
  /* height: 100px; */
  max-height: 68vh;
  
  
  
}
.first-mockup-design-text, .second-mockup-design-text,.third-mockup-design-text
{
  padding-left: 5%;
  padding-right: 5%;
}
.first-mockup-design-image,.second-mockup-design-image,.third-mockup-design-image
{
  text-align: center;
  /* padding-left: 10%; */
  
  
}
.mockup-design .container-fluid
{
  padding: 0;
}


@media (max-width:992px) {
  .mockup-design-images
  {
    /* border: 1px solid black; */
    text-align: center;
    

  }
  .first-mockup-design-text, .second-mockup-design-text,.third-mockup-design-text
  {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
  }
  
  
}


.work-completed-web-developers {
  background-color: #162b45;
  width: 100%;
  height: auto;
  padding-bottom: 80px;
  /* margin-top: 5%; */
  /* border: 10px solid yellow; */
  padding-top: 80px;
  padding-left: 80px;
  padding-right: 80px;
}

.work-completed-web-developers .images {
  margin: auto;
  margin-top: 0;
  width: 50%;
  margin-left: 10%;
}

.work-completed-web-developers .images .img {
  width: 80%;
}

.work-completed-web-developers .card {
  padding-top: 5%;
  padding-right: 7%;
  padding-left: 7%;
  width: 90%;
  height: auto;
  border-radius: 0;
  border: 2px solid #36485F;
  background-color: transparent;
  margin-bottom: 0;
  text-align: center;
  margin-top: 100px;
  margin-left: 0;
  margin-right: 0;
}

.work-completed-web-developers h5 {
  color: #fffffe;
  font-family: "Oswald", sans-serif;
}
.work-completed-web-developers p {
  font-size: 16px;
  color: #45556a;
  font-family: "Oswald", sans-serif;
  text-align: center;
}

.fa-solid {
  font-size: 6px;
  margin: 10px;
}
.work-completed-web-developers .card-text {
  margin-top: 10%;
  
  font-size: 14px;
}
.work-completed-web-developers .card-img-top {
  border-radius: 0;
}

@media (max-width: 992px) {
  .work-completed-web-developers .card {
    margin-top: 5%;
    margin-bottom: 5vh;
  }
  /* .work-completed-web-developers .card { */
  .work-completed-web-developers .images {
    margin: auto;
    margin-top: 15vh;
    width: 70%;
  }
  .work-completed-web-developers .top-card {
    margin-top: 30%;
  }
  
}


.latest-news{
  background-color: white ;
  padding-top: 100px;
  padding-bottom: 100px;
  /* border: 1px solid green; */
}

.latest-news-top-heading
{
  text-align: center;
  /* padding-bottom: 20px; */
}


.latest-news .card {
  border-radius: 0;
  width: 95%;
  height: auto;
  padding: 0;
  /* margin-top: 15%; */
  background-color: transparent;
  /* border: 3px solid red; */
}
.latest-news .card-text {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 13px;

}
.latest-news .card-body {
  text-align: left;
}
.latest-news .card-title {
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  color: #112e41;
  font-weight: bold;
}
.latest-news-top-heading {
  margin-top: 100px;
  margin-bottom: 0;
}
.latest-news .icons {
  font-size: 12px;
  color: #aca1af;
}
.latest-news .card img{
  border-radius: 0;
  /* border: 1px solid blue; */
}
.latest-news .icons i {
  color: #f68bcc;
}
.latest-news .icons .view {
  margin-left: 15px;
}



.footer {
  background-color: #162b45;
  height: auto;
  width: 100%;
  color: white;
}

.label {
  display: block;
  margin-bottom: 8px;
}

.text-field-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.text-field {
  padding-right: 32px;
  border-radius: 0;
  background-color: transparent;
  padding: 10px;
  width: 100%;
  /* padding: 20px 10px 20px 10px; */
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #435368;
}

.icon {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  background-color: hotpink;
  border: 1px solid hotpink;
  width: 10%;
  height: 70%;

  /* z-index: 2; */
}
.icon-tab i {
  /* z-index: 2; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80%;
  background-color: #f7547f;
  color: #ffffff;
}

.footer1-img,
.footer1-body1,
.footer1-body2 {
  /* border: 1px solid white; */
  color: #909faf;
  font-family: "Roboto Condensed", sans-serif;
}

.footer1-img img {
  width: 70%;
}
.footer2-heading,
.footer2-body,
.footer2-input,
.footer2-icon {
  /* border: 1px solid white; */
  color: #909faf;
  font-family: "Roboto Condensed", sans-serif;
}
.footer-heading {
  font-family: "Roboto Condensed", sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}
.footer2 {
  display: flex;
  flex-direction: column;
  justify-content:center;
  /* align-items: justify; */
  /* border: 3px solid yellowgreen; */
}

.footer2-icon i {
  font-size: 14px;
  margin-right: 16px;
}

.footer3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer3 .footer3-images img {
  /* border: 3px solid red; */
  width: 70px;
  height: 70px;
  /* max-width: 70px;
  max-height: 70px; */
}

.footer3 .footer3-images {
  /* border: white 1px solid; */
  padding-left: 0;
}

.footer .main-container {
  margin-top: 50px;
}

.hr-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
hr {
  color: #57565f;
  /* color: #3D4E63; */
  width: 97%;
  height: 30px;
  font-size: large;
}
.hr-box p {
  color: #57565f;
  font-size: 80%;
  font-family: "Roboto Condensed", sans-serif;
  /* border: 1px solid white; */
  /* font-family: 'Oswald', sans-serif; */
}

.footer-end {
  color: #aa3954;
}
@media (max-width:992px) {
  
  .footer3 .footer3-images img {
    /* border: 10px solid yellowgreen; */
    width: 100px;
    height: 150px;
  }  
}